<br/>

<div class="dados-options">
  <%= link_to "Página Principal", dados_path %>
</div>

<br />

<center>
<% if params[:tema] %>
    <div class="dados-titulo">Fontes de Dados</div>
      <table class="table-fontes">
          <tr class="tr-fontes">
              <td class="td-fontes"><%= link_to image_tag('PNAD.jpg', width: '150'), pnads_path + "?tema=#{params[:tema]}" %></td>
              <td class="td-fontes"><%= link_to image_tag('participatorio.png'), agendas_path + "?tema=#{params[:tema]}"  %></td>
              <td class="td-fontes"><%= image_tag('IBGE.jpg', width: '150') %></td>
          </tr>
      </table>
  </div>

<% else %>
  <br /><br />
  <h2>Nenhum Tema Definido Encontrado.</h2>
<% end %>
</center>
</div>
