<select id="select_dados"> 
  <option value="Selecione" selected> Selecione </option>
  <option value="one"> One </option>
  <option value="two"> Two </option>
  <option value="three"> Three </option>
</select>

<div id="dados"></div>
