<br/>
<%= collection_select(nil, :id, @temas, :id, :titulo, {:prompt => "Selecione o Tema"}, {:id => 'select_temas'}) %>
<div class="pnads-options">
  <%= link_to "Administrar Filtros", filtros_path %> |
  <%= link_to "Ver por Filtros", pnads_path %>
</div>
<div id="pnads"></div>
