// Place all the styles related to the Agendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select_agendas {
  max-width: 150px;
}

#select_agendas_indicador {
  min-width: 400px;
}

.agenda {
  height: 105px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border:1px solid;
  
}

#agenda-tema {
  float: right;
  width: 105px;
}

#agenda-opcoes {
  width:92%;
  margin-top: auto;
  margin-bottom: auto;
}
