.select_agendas {
  max-width: 134px;
}

.agenda {
  height: 100px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border:1px solid #C9C9C9;  
}

#agenda-tema {
  float: right;
  width: 100px;
  padding-top: 8px;
}

#agenda-opcoes {
  width:92%;
  margin-top: auto;
  margin-bottom: auto;
}
