/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

.yield {
  width: 96%;
  margin-right: auto;
  margin-left: auto;
}

.table-dados {
  text-align: center;
  width: 100%;
  border: 1px solid;
}

.table-dados .table-odd {

}

.table-dados #table-header {
  border: 1px solid;
}

.table-dados th {
  border:1px solid;
}

.table-dados td {
  border:1px solid;
}

a:hover {
    color: #FFF;
}

#dados-header {
  font-size: 28px;
  font-weight:900;
}

.dados-options {
  float: left;
  font-size: 10px;
  font-weight:900;
}

#dados-geral{ 
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; 
}

#dados-temas{
  width: 50%;
  float: left;
  margin-left: auto;
  margin-right: auto; 
}

#dados-fonte {
  width: 48%;
  float: right;
  margin-left: auto;
  margin-right: auto; 
}

.tema-box {
  width: 160px;
  text-align: center;
}

.table-temas {
  text-align: center;
  width: 45%;
}

.tr-fontes {
  background-color: #fff;
  border:1px solid #C9C9C9;
}

.tr-temas {
  background-color: #fff;
  border:1px solid #C9C9C9;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.td-fontes {
  border:1px solid #C9C9C9;
}

.td-temas {
  border:1px solid #C9C9C9;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 32px 12px 32px;
}

#dados-header {
  margin-left: 15px;
}

#dados-body {
  line-height: 150%;
  margin-left: 15px;
  width: 92%;
  background-color: #fff;
  text-align: justify;
  border:1px solid #C9C9C9;
  padding: 12px 12px 12px 12px;
}

.dados-titulo {
  font-size: 19px;
  font-weight:900;  
  padding: 8px 0 8px 0;
  max-width: 250px;
}
