/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

.yield {
  width: 96%;
  margin-right: auto;
  margin-left: auto;
}

.table-dados {
  text-align: center;
  width: 100%;
  border: 1px solid;
}

.table-temas {
  text-align: center;
  width: 100%;
}

.table-dados .table-odd {

}

.table-dados #table-header {
  border: 1px solid;
}

.table-dados th {
  border:1px solid;
}

.table-dados td {
  border:1px solid;
}

a:hover {
    color: #FFF;
}

.dados-options {
  float: right;
}

.tema-box {
  width: 160px;
  text-align: center;
}


.select_pnads {
  max-width: 150px;
}

#select_pnads_objetivo {
  min-width: 215px;
}

.pnad {
  height: 110px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border:1px solid;
  
}

#pnad-tema {
  float: right;
  width: 108px;
  height: 108px;
  padding-top: 4px;
}

#pnad-opcoes {
  width:92%;
  margin-top: auto;
  margin-bottom: auto;
}

.tr-temas {
  background-color: #fff;
  border:1px solid #C9C9C9;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.td-temas {
  border:1px solid #C9C9C9;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
