.pnad {
  min-height: 120px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
/*  border:1px solid #C9C9C9; */
}

.select_pnads {
  max-width: 110px;
}

#pnad-tema {
  float: right;
  width: 100px;
  padding-top: 8px;
}

#pnad-opcoes {
  width:92%;
  margin-top: auto;
  margin-bottom: auto;
}

[
disabled="disabled"] {
    color: #933;
    background-color: #ffc;
}
