.pnad {
  height: 110px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border:1px solid #C9C9C9;
}

.select_pnads {
  max-width: 150px;
  text-align: center;
}

#pnad-tema {
  float: right;
  width: 108px;
  height: 108px;
  padding-top: 3px;
}

#pnad-opcoes {
  width:92%;
  margin-top: auto;
  margin-bottom: auto;
}
